node_modules
.lyra
.env
.DS_Store
.secret

#Hardhat config
cache
artifacts
typechain-types
dist/
.vscode/

# hardhat coverage
coverage
coverage.json

# deployments
deployments/kovan-ovm/solcInputs/
deployments/kovan-ovm/.chainId
deployments/goerli-ovm/solcInputs/
deployments/goerli-ovm/.chainId
deployments/local/
